body {
    color: white;
    background-image: -webkit-linear-gradient(225deg, #5c4fc0, #974fc0);
    background-image: linear-gradient(225deg, #5c4fc0, #974fc0);
}

.post-header {
    text-align: left;
}

.post-header h1 {
    font-weight: 600;
    color: white;
    font-size: 3rem;
}

.post-header p {
    font-size: 1.2rem;
}

.post-header p img {
    height: 90px;
    margin-right: 20px;
    width: 75px;
    margin-bottom: 15px;
}

p.tag-line {
    font-size: 1.7rem;
    color: white;
    line-height: 2;
    font-weight: 500;
}

h2 u, p.tag-line u {
    font-weight: 600;
    text-decoration: none;
    border-bottom: 4px solid;
    padding-bottom: 3px;
}

.post-body p {
    font-size: 1.2rem;
    line-height: 2.2rem;
    margin-bottom: 1.8rem;
}

.fw-700 {
    font-weight: 700;
}

.outer-alert {
    margin-bottom: 1.8rem;
}

.mt-100 {
    margin-top: 100px;
}

.mb-120 {
    margin-bottom: 120px;
}

.post-header {
    margin-bottom: 2rem;
}

.outline-tools .card-body {
    font-size: 1.1rem;
    padding: 0.8rem 1rem;
}

.tool-item {
    display: block;
    padding: 0.4rem 0.8rem 0.4rem 0;
}

.tool-body {
    border: 1px solid #e0e0e0;
    padding: 1rem;
    border-radius: 0.25rem;
}

.white-wrap {
    background: white;
    color: #2d2d2d;
}

.btn-primary {
    background: #e2d754;
    color: #51455c;
    border: none;
}

.btn-rounded {
    border-radius: 62px;
    padding: 8px 33px;
    font-weight: 400;
    line-height: 39px;
    border: none;
}

.questions-list h4 {
    margin-top: 1.4rem;
}

.lh1-4 {
    line-height: 1.4;
}

.slack-icon {
    width: 25px;
    margin-bottom: 10px;
}

.price-package-title {
    padding-bottom: 20px;
    display: block;
}

ul.features {
    margin: 0;
    padding: 0;
}

ul.features li {
    list-style: none;
    display: block;
    text-align: center;
    padding: 15px 20px;
    border-top: 1px solid #f4f4f4;
}

li.price-label {
    background: #f4f4f4;
    font-size: 3rem;
}

.slack-icon {
    display: block;
    text-align: center;
    margin: 10px auto;
}

.pricing-box {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
    padding: 20px 0 0;
    border: 0.0625em solid #e1e5ea;
    border-radius: 0.4rem;
}

p.x-small {
    font-size: 1rem;
}

ul.features li:last-child {
    padding: 1.5rem 0;
}

a.gumroad-button.btn.btn-block {
    display: inline-block !important;
    font-weight: 400 !important;
    text-align: center !important;
    white-space: nowrap !important;
    vertical-align: middle !important;
    background-image: none !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    border: 1px solid transparent !important;
    padding: .5rem .75rem !important;
    font-size: 1rem !important;
    line-height: 1.25 !important;
    border-radius: .25rem !important;
    transition: all .15s ease-in-out !important;
    color: #fff !important;
    background-color: #007bff !important;
    border-color: #007bff !important;
    padding: 1.5rem !important;
}

a.gumroad-button.btn.btn-block span.gumroad-button-logo {
    display: none !important;
}

.text-whitish {
    color: #ac9aca;
}

a {
    color: white;
    border-bottom: 1px solid white;
}

.white-wrap a {
    color: currentColor !important;
    border-bottom: 1px solid;
    text-decoration: none;
}

.btn-primary:hover {
    background: #f7f09e;
    color: #2d2d2d;
}

.text-wheat {
    color: #c7b1b1;
}