body {
    color: #6c757d;
}

h1, h2, h3, h4, h5, h6 {
    color: #2d2d2d;
    font-weight: 700;
    margin-top: 25px;
}

p {
    margin-bottom: 15px;
    line-height: 1.75;
}

.text-cross {
    text-decoration: line-through
}

.text-highlight {
    background: #ffc;
}

.badge {
    font-weight: 400;
}

.alert-highlight {
    padding: 10px;
    font-size: 15px;
    text-align: left;
    background: #ffffcc;
    line-height: 1.75;
    margin: 50px 0 60px;
}

.post-header {
    margin: 60px auto 50px;
}

.post-body {
    display: block;
    max-width: 550px;
    margin: auto;
}

.post-header h1 {
    font-weight: 700;
    color: #2d2d2d;
    font-size: 30px;
    margin-bottom: 5px;
    margin-top: 0;
}

.post-header p {
    font-size: 1rem;
    margin-bottom: 0;
}

.post-header img {
    height: 80px;
    display: block;
    margin: 0 auto 5px;
    width: 80px;
}

.demo-view {
    background: #23272b;
}

.page-description {
    text-align: center;
}